body {
 /* background-image: url('img/me.JPG'); */
  /* height: 100%;
  background-position:center; */
  /* background-repeat:no-repeat;
  background-size: cover; */
  /* background-color: #cccccc; */
  /* background-color: #E8BE94; */
  background-color: #F5E5D4;
}

.navbar {
  padding:0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;

  text-decoration: none;
  background-color:#F5E5D4;
  color: #935100;

}
.navbar-name {
  background-color: #D3B799;
  padding: 10px 10px;
  font-size: 26px;
  letter-spacing: 3px;
  /* margin: 0px 30px; */
  position: static;
}
/* .collapse {
  margin: 10px 0px;
} */
.navbar-nav {
  text-decoration: none;
  margin: 0px 0px;
}

.navbar-nav li a {
  text-decoration: none;
  color: #935100;
  font-size: 16px;
  letter-spacing: 4px;
  margin: 0px 30px;

  /* padding: 0px 0px; */
}
.navbar-nav li a:hover {
  text-decoration: none;
  color: #583000;
}


.navbar-collapse {
  padding: 10px 15px;
}

.navbar-divider {
  border-color: #935100;
  margin: 50px 0px;
  border-width: 3px;
  position: static;
}

.picture {
  vertical-align: middle;
  /* width: 200px;
  height: 500px; */
  max-height: 50%;
  /* background-image: url("img/me.JPG"); */
}

.about h1 {
  color: #935100;
  font-size: 60px;
}

.about h1.display-1::after {
  content: "";
  display: block;
  background: #D3B799;
  width: 185px;
  height: 4px;
  margin-top: 10px;
}

.about h3 {
  color: #935100;
  font-size: 16px;
  font-family: 'Montserrat';
  font-weight: 400;
}

.custom-font-title {
  font-family: 'Roboto';
  font-weight: 400;

}




/* body {
  background-image: url("https://media.giphy.com/media/2itj7nkDA1zLW/giphy.gif");
  background-repeat: no-repeat;
  height: auto;
  background-size: 100%;
  background-size: cover;

}
body::after {
  background-image: linear-gradient(to bottom, transparent 0%, white 100%);
}

.header{
  position: relative;
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
  width: center;
  height: 200px;
  top:200px;
  z-index:99999999999999;
  border-style: double;
}
#title{
    position: static;
    float:center;
    margin: center;
    margin-top:25px;

    text-transform:uppercase;
    text-align:center;
    font-size:35px;
    letter-spacing:1px;
    font-weight:bold;
    z-index:9999999999;
    font-family: 'Josefin Slab', serif;

}
.linksRight {

  float:center;
  margin-left:20px;
  margin-right: 10px;
  text-align:right;
  font-size:18px;
  letter-spacing:1px;
  z-index:9999999999;
  font-family: 'Josefin Slab', serif;

}
#git {
  margin-top: -5px;
}
#fb {
  margin-top: -40px;
}
#number {
  margin-top: -42px;
  font-size: 15px;
}
.linksLeft {
  position: absolute;
  float:center;
  margin-left:10px;
  margin-right: 850px;
  text-align:left;
  font-size:15px;
  letter-spacing:1px;
  z-index:9999999999;
  font-family: 'Josefin Slab', serif;
}

/* #location {
  margin-top: -40px;
} */
#major {
  margin-top: -45px;
}
#school {
  margin-top: 10px;
  white-space: nowrap;
  font-size: 14px;

}
#class {
  margin-top: 9px;
}
#paragraph {
  font-family: 'Josefin Slab', serif;
  margin-top: 15px;
  font-size: 18px;
}
.involvements {
  font-family: 'Josefin Slab', serif;
  font-size: 12px;
  margin-top: 0px;
}
#text1 {
  font-family: 'Josefin Slab', serif;
  font-size: 12px;
  margin-top: -14px;
}
#text2 {
  font-family: 'Josefin Slab', serif;
  font-size: 12px;
  margin-top: -10px;

}


} */
