html {
  scroll-behavior: smooth;
}

body {
  background-color: #FEFCFB; 
}

@font-face {
  font-family: "Monatta";
  src: url("Monatta.ttf") format("truetype");
}

.navbar {
  padding:0;
  font-family: 'Montserrat', sans-serif; 
  /* font-family: 'Monatta'; */
  font-weight: 400;

  text-decoration: none;
  /* background-color:#F5E5D4; */
  background-color: #FEFCFB;
  color: #935100;
  /* height: 100px; */
  box-shadow: 1px 1px;

}
.navbar-name {
  font-family: 'Monatta';
  text-decoration: none;
  /* background-color: #D3B799; */
  background-color: #FEFCFB;
  padding: 10px 10px;
  font-size: 45px;
  letter-spacing: 3px;
  /* margin: 0px 30px; */
  position: static;
}
.name {
  text-decoration: none;
}
.navbar-name a:hover {
  text-decoration: none;
  color: #583000;
}

.navbar-name a:hover a:focus a:active{
  text-decoration: none;
  color: inherit; 
}
/* .collapse {
  margin: 10px 0px;
} */
.navbar-nav {
  text-decoration: none;
}

.navbar-nav li a {
  text-decoration: none;
  /* color: #935100; */
  color: #3f3f37;
  font-size: 12px;
  letter-spacing: 4px;
  
  margin: 0px 40px;

  /* padding: 0px 0px; */
}
.navbar-nav li a:hover {
  text-decoration: none;
  color: #583000;
}

.navbar-collapse {
  padding: 10px 15px;
}

.picture {
  vertical-align: middle;
  /* width: 200px; */
  /* height: 300px;  */
  max-height: 50%;
  /* background-image: url("img/me.JPG"); */
}


/* ABOUT SECTION */
.about h1 {
  /* color: #935100; */
  color:  #3f3f37;
  font-size: 30px;
  font-family: 'Montserrat';
  font-weight: 400;
}
.about h1::first-letter {
  font-family: 'Monatta';
  font-size: 60px;
  letter-spacing: 5px;
}

.about h1.display-1::after {
  content: "";
  display: block;
  /* background: #D3B799; */
  /* background: #935100; */
  background: #3f3f37;
  width: 135px;
  height: 1px;
  margin-top: 5px;
}

.about h3 {
  color: #3f3f37;
  font-size: 14px;
  font-family: 'Montserrat';
  font-weight: 400;
  letter-spacing: 1px;
}

/* LEARN MORE ABOUT */
.about a{
  color:#3f3f37;
  font-family: 'Monatta';
  font-size: 40px;
  text-decoration: none;

}
.about a:hover {
  color: #935100;
  text-decoration: none;
}


/* PROJECTS */

.project h1 {
  color:  #3f3f37;
  font-size: 30px;
  font-family: 'Montserrat';
  font-weight: 400;
}

.project h1::first-letter {
  font-family: 'Monatta';
  font-size: 60px;
  letter-spacing: 5px;
}
.project h1.display-1::after {
  content: "";
  display: block;
  /* background: #935100; */
  background: #3f3f37;
  width: 185px;
  height: 1px;
  margin-top: 5px;
}

.project h4 {
  color: #373737;
  font-family: "Montserrat";
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 2px;
  
}
.project p {
  color: #373737;
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
}

/* button for project */
.btn-git {
  color: #3f3f37;
  background-color: transparent;
  background-image: none;
  border-color: #3f3f37;
  font-family: "Montserrat";
  font-weight: 400px;
  font-size: 14px;
  letter-spacing: 1px;
}
.btn-git:hover {
  /* background: #D3B799; */
  border-color: #935100;
  color: #935100;
}

/* CREATIVE */

.creative h1 {
  /* color: #935100; */
  color:  #3f3f37;
  font-size: 30px;
  font-family: 'Montserrat';
  font-weight: 400;
}
.creative h1::first-letter {
  font-family: 'Monatta';
  font-size: 60px;
  letter-spacing: 5px;
}


.creative h1.display-1::after {
  content: "";
  display: block;
  /* background: #D3B799; */
  /* background: #935100; */
  background: #3f3f37;
  width: 160px;
  height: 1px;
  margin-top: 5px;
}

.creative img {
  height: 350px;
}
.creative .mojave-photo {
  width: 100%;
}
.creative h2 {
  font-family: "Montserrat";
  font-weight: 400px;
  font-size: 25px;
}
.creative p {
  font-family: "Monatta";
  font-weight: 400px;
  font-size: 30px;
  color: #583000;
}

/* CREATIVE HOVER EFFECT */
.creative .hover {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.creative .overlay {
  
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
}

.creative .hover:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.creative .hover img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.creative .hover:hover img {
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
}

.creative .hover h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  background-color: transparent;
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
}

.creative .hover a, .hover p {
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

.creative .hover:hover a, .hover:hover p, .hover:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

/* FOOTER */
#footer {
  /* background: #C1853D; */
  background: #E0CEB7;
  padding-top: 50px;
  padding-bottom: 50px;
}

#footer .social-media {
  width: 100%;
}

#footer .social-media ul {
  display: inline-block;
  float: none;
  margin: 0 0 20px 0;
}

#footer .social-media ul li {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

#footer .social-media ul li a {
  font-size: 24px;
  color: #999;
  letter-spacing: 0.1em;
  font-weight: 500;
  background: transparent;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}
#footer .social-media ul li a:hover {
  color: #935100;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}


/* Contact Footer */
#footer p {
  font-size: 10px;
  letter-spacing: 0.2em;
  font-family: 'Montserrat';
  font-weight: 400;
  color: #3f3f37;
  margin-top: 0;
  text-transform: uppercase;
}